.footer {
  padding: 20px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 50px 0;
  }

  .footer__wrapper {
    justify-content: space-between;
  }
}
