.navigation {
  text-align: center;
  margin: 0 -10px;
  padding: 15px 0;

  display: none;
  position: absolute;
  top: 76px;
  left: auto;
  right: auto;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
}

.navigation__list {
  @include reset-list;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__social-list {
  @include reset-list;
  margin: 15px 0;
}

.navigation__link {
  font-weight: 300;
  color: $black;
  display: block;
  padding: 10px 8px;
  text-transform: uppercase;
  font-size: 18px;
}

.navigation__contacts-list {
  @include reset-list;
}

.navigation__contacts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.navigation__caption {
  margin: 0 0 3px 0;
  color: #68b738;
}

.navigation__number-link {
  width: 100%;
  padding: 2px 0;
  color: grey;
}

@media (min-width: $tablet-width) {
  .navigation {
    margin: 0 -30px;
    top: 93px;
    padding-top: 0;
  }

  .navigation__list {
    border-bottom: 2px solid #e6e6e6;
  }

  .navigation__link {
    padding: 20px;
    font-size: 24px;
    line-height: 28px;

    &:hover,
    &:focus {
      color: #68b738;
    }

    &:active {
      opacity: 0.7;
    }
  }

  .navigation__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }

  .navigation__social-list {
    margin-right: 30px;
  }

  .navigation__social-icon {
    width: 44px;
    height: 24px;
  }

  .navigation__contacts-item {
    margin-bottom: 20px;
    text-align: left;
  }

  .navigation__caption {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 0;

    &:first-child {
      margin: 0 0 5px 0;
    }
  }

  .navigation__number-link {
    padding: 6px 0;
    font-size: 24px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: static;
    margin: 0;
    margin-left: auto;
    width: 60%;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
    border: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  .navigation__item {
    margin-left: 4%;

    &:first-child {
      margin: 0;
    }
  }

  .navigation__link {
    padding: 0;
  }

  .navigation__row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
  }

  .navigation__social-list {
    order: 1;
    margin: 0;
  }

  .navigation__contacts-list {
    display: flex;
    width: 50%;
  }

  .navigation__contacts-item {
    margin-bottom: 0;
    width: 50%;
  }
}










