.social-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  order: 1;
  margin: 0 5px -2px 0;
}

.social-list__item {
  margin-top: 5px;

  &:first-child {
    margin-top: 0;
  }
}

.social-list__link {
  width: 22px;
  height: 12px;

  &--vk {
    &:hover {
      .social-list__icon {
        fill: #3b88e0;
      }
    }

    &:focus,
    &:active {
      .social-list__icon {
        fill: #005fcc;
      }
    }
  }

  &--ok {
    width: 20px;
    height: 20px;
    fill: #F68634;

    &:hover {
      .social-list__icon {
        fill: #f97311;
      }
    }

    &:active,
    &:focus {
      .social-list__icon {
        fill: #ff6c00;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    margin: 0;
  }

  .social-list__item {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

  .social-list__link {
    width: 44px;
    height: 24px;

    .social-list__icon {
      width: 44px;
      height: 24px;
    }

    &--ok {
      width: 40px;
      height: 40px;

      .social-list__icon {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    flex-direction: row;
  }

  .social-list__item {
    margin: 0 0 0 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  .social-list__link {
    width: 56px;
    height: 30px;

    .social-list__icon {
      width: 56px;
      height: 30px;
    }

    &--ok {
      width: 50px;
      height: 50px;

      .social-list__icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
